@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap');

$color-white: #fff;
$color-black: #000;
$color-one: #071e3d;
$color-two: #1c3f85;
$color-three: #278ea5;
$color-four: #1dccac;
$grad-one: linear-gradient(to left top, lighten($color-one, 12%), $color-one);
$grad-two: linear-gradient(to left top, lighten($color-two,12%), $color-two, );
$grad-three: linear-gradient(to left top, $color-three, darken($color-three,12%));
$grad-four: linear-gradient(to left top, $color-four, darken($color-four,12%));

body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: $color-white;
    background: $color-black;
    font-size: 0.9em;
    font-weight: 300;
}

a {
	color: $color-white;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 80%;
}


.container { height: 100%; }

.bl-main {
	position: absolute;
	width: 100%;
	height: 100%;
    overflow: hidden;
    section {
        position: absolute;
        width: 50%;
        height: 50%;
        transition: all 0.5s ease-in-out;
        &:first-child {
            top: 0;
            left: 0;
            background: $grad-one;
            color: lighten($color-one,9%);
        }
        &:nth-child(2) {
            top: 0;
            left: 50%;
            background: $grad-two;
            color: lighten($color-two, 9%);
        }
        &:nth-child(3) {
            top: 50%;
            left: 0;
            background: $grad-three;
            color: darken($color-three, 4%);
        }
        &:nth-child(4) {
            top: 50%;
            left: 50%;
            background: $grad-four;
            color: darken($color-four, 4%);
        }
        &.bl-expand {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 100;
            .bl-box {
                opacity: 0;
                transition: opacity 0s linear;
            }
        }
      
    }
}

.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	/* Centering with flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s linear 0.5s;
    .bg {
        position: absolute;
        font-size: 8em;
    }
    h2 {
        text-align: center;
        margin: 0;
        padding: 20px;
        width: 100%;
        font-size: 1.8em;
        letter-spacing: 2px;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        color: $color-white;
        z-index: 2;
    }
}


.bl-icon-close {
    font-size: 2em;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 101;
    opacity: 0;
    transition: opacity 0.1s linear 0s;
    // &:before {
    //     content: "\203B";
    // }
}

.bl-content {
	opacity: 0;
	pointer-events: none;
    position: absolute;
    color: $color-white;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
    padding: 10px 30px;
    padding-top: 60px;
	overflow: hidden;
    overflow-y: auto;
    transition: opacity 0.1s linear 0s;
    p {
        margin: 0 auto;
        padding-bottom: 15px;
        font-size: 1.7em;
        line-height: 1.8;
    }
    h2 {
        font-size: 3em;
        font-weight: 300;
        margin: 0 0 20px 0;
    }
    article {
        padding: 20px 40px 20px 0px;
        h3 {
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin: 0 0 10px 0;
            padding-top: 20px;
            font-size: 1.4em;
        }
        a {
            color: rgba($color-white,0.6);
        }
    }
    ul.project {
        
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
        li.project__item {
            display: flex;
            flex-direction: column;
            background: linear-gradient(to right bottom, $color-white, darken($color-white, 20%));
            color: lighten($color-one, 15%);
            padding: 18px;
            // margin: 10px;
            // border-radius: 10px;
            // border: 1px solid $color-one;
            box-shadow:  6px 6px 8px rgba($color-one,0.5);
            .project__item--name {
                font-size: 2em;
            }
            .project__item--footer {
                margin-top: auto;
                display: flex;
                justify-content: stretch;
                .project__item--stars {
                    // font-size: 1.5em;
                    text-align: center;
                    padding: 8px;
                    margin-right: 8px;
                    color: $color-two;
                    border: 1px solid $color-two;
                    // align-self: flex-end;
                    &::before {
                        content: "\22C6";
                    }
                }
            }
            .project__item--desc {
                color: lighten($color-black, 25%);
                font-size: 1.2em;
                margin-bottom: 5px;
            }
            ol.project__item--lang {
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                margin-top: auto;
                li {
                    padding: 4px;
                    &:before {
                        font-size: 1.2em;
                        // color: $color-two;
                        content: "\0023";
                    }
                }

            }
        }
    }
    // ul {
    //     list-style: none;
    //     padding: 0;
    //     margin: 0;
    //     li {
    //         display: inline-block;
    //         width: 20%;
    //         margin: 1%;
    //         a {
    //             display: block;
    //             padding: 0;
    //             border: 8px solid rgba($color-black,0.1);
    //             img {
    //                 display: block;
    //                 max-width: 100%;
    //             }
    //         }
    //     }
    // } 
}

.bl-main.bl-expand-item > section:not(.bl-expand) {
	transform: scale(0.5);
	opacity: 0;
}

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
	pointer-events: auto;
	opacity: 1;
	transition: opacity 0.3s linear 0.5s;
}
.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    // height: 100%;
    max-width: 600px;
    margin: auto;
    .contact__item {
        text-align: center;
        padding: 20px;
        .contact__item--text {
            font-size: 1.8em;
            display: inline-block;
            line-height: 1.7em;

        }
        .contact__item--action {
            font-size: 1em;
            // line-height: 1.7em;
        }
    }
}
.btn {
    text-align: center;
    padding: 12px;
    color: $color-two;
    border: 1px solid $color-two;
}
.btn--white {
    color: $color-white;
    border: 1px solid $color-white;
}
.loader  {
    text-align: center;
    @keyframes one {
        0% { width: 2.5em ; height: 2.5em; top:0px; left: 0px; z-index: 2}
        15% {
          width: 5em; height: 5em;
          top:0px;
          left: 0px;
        }
        25% { width: 2.5em; height: 2.5em}
      }
      @keyframes two {
        0% { width: 2.5em ; height: 2.5em; z-index: 2}
        15% {
          width: 5em; height: 5em;
          top:0px;
          left: 0px;
        }
        25% { width: 2.5em; height: 2.5em;
          left: 2.5em;
        }
      }
      @keyframes three {
        0% { width: 2.5em ; height: 2.5em; z-index: 2}
        15% {
          width: 5em; height: 5em;
          top:0px;
          left: 0px;
        }
        25% { width: 2.5em; height: 2.5em; top: 2.5em}
        100% {
            z-index: -1;
        }
      }
      @keyframes four {
        0% { width: 2.5em ; height: 2.5em; z-index: 2 }
        15% {
          width: 5em; height: 5em;
          top:0px;
          left: 0px;
        }
        25% { width: 2.5em; height: 2.5em; top: 2.5em; left: 2.5em;}
        100% {
            z-index: -1;
        }
      }
      .loader__wrapper {
        margin: 20px auto;
        position: relative;
        height: 5em;
        width: 5em;
        .loader__blocks {
            position: absolute;
            width: 2.5em;
            height: 2.5em;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }
        #one {
          background-color: $color-one;
          animation-name: one;
          animation-delay: 0s;
        }
        #two {
          left: 2.5em;
          background-color: $color-two;
          animation-name: two;
          animation-delay: 1s;
        }
        #three {
          top:2.5em;
          background-color:$color-three;
          animation-name: three;
          animation-iteration-count: infinite;
          animation-delay: 3s;
        }
        #four {
          top: 2.5em;
          left: 2.5em;
          background-color:$color-four;
          animation-name: four;
          animation-delay: 2s;
        }
      }
      
}

    
    