@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap");
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%; }

*,
*:after,
*:before {
  box-sizing: border-box; }

body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  background: #000;
  font-size: 0.9em;
  font-weight: 300; }

a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 80%; }

.container {
  height: 100%; }

.bl-main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .bl-main section {
    position: absolute;
    width: 50%;
    height: 50%;
    transition: all 0.5s ease-in-out; }
    .bl-main section:first-child {
      top: 0;
      left: 0;
      background: linear-gradient(to right bottom, #071e3d, #1a4075); }
    .bl-main section:nth-child(2) {
      top: 0;
      left: 50%;
      background: linear-gradient(to left bottom, #1c3f85, #335caf); }
    .bl-main section:nth-child(3) {
      top: 50%;
      left: 0;
      background: linear-gradient(to right top, #278ea5, #1c8197); }
    .bl-main section:nth-child(4) {
      top: 50%;
      left: 50%;
      background: linear-gradient(to left top, #1dccac, #179780); }
    .bl-main section.bl-expand {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 100; }
      .bl-main section.bl-expand .bl-box {
        opacity: 0;
        transition: opacity 0s linear; }

.bl-box {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
  /* Centering with flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s linear 0.5s; }
  .bl-box h2 {
    text-align: center;
    margin: 0;
    padding: 20px;
    width: 100%;
    font-size: 1.8em;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out; }

.bl-icon-close {
  font-size: 2em;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 101;
  opacity: 0;
  transition: opacity 0.1s linear 0s; }

.bl-content {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 10px 30px;
  padding-top: 60px;
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.1s linear 0s; }
  .bl-content p {
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: 1.7em;
    line-height: 1.8; }
  .bl-content h2 {
    font-size: 3em;
    font-weight: 300;
    margin: 0 0 20px 0; }
  .bl-content article {
    padding: 20px 40px 20px 0px; }
    .bl-content article h3 {
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin: 0 0 10px 0;
      padding-top: 20px;
      font-size: 1.4em; }
    .bl-content article a {
      color: rgba(255, 255, 255, 0.6); }
  .bl-content ul.project {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem; }
    .bl-content ul.project li.project__item {
      display: flex;
      flex-direction: column;
      background: linear-gradient(to right bottom, #fff, #cccccc);
      color: #0f4082;
      padding: 18px;
      box-shadow: 6px 6px 8px rgba(7, 30, 61, 0.5); }
      .bl-content ul.project li.project__item .project__item--name {
        font-size: 2em; }
      .bl-content ul.project li.project__item .project__item--footer {
        margin-top: auto;
        display: flex;
        justify-content: stretch; }
        .bl-content ul.project li.project__item .project__item--footer .project__item--stars {
          text-align: center;
          padding: 8px;
          margin-right: 8px;
          color: #1c3f85;
          border: 1px solid #1c3f85; }
          .bl-content ul.project li.project__item .project__item--footer .project__item--stars::before {
            content: "\22C6"; }
      .bl-content ul.project li.project__item .project__item--desc {
        color: #404040;
        font-size: 1.2em;
        margin-bottom: 5px; }
      .bl-content ul.project li.project__item ol.project__item--lang {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-top: auto; }
        .bl-content ul.project li.project__item ol.project__item--lang li {
          padding: 4px; }
          .bl-content ul.project li.project__item ol.project__item--lang li:before {
            font-size: 1.2em;
            content: "\0023"; }

.bl-main.bl-expand-item > section:not(.bl-expand) {
  transform: scale(0.5);
  opacity: 0; }

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.3s linear 0.5s; }

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: auto; }
  .contact .contact__item {
    text-align: center;
    padding: 20px; }
    .contact .contact__item .contact__item--text {
      font-size: 1.8em;
      display: inline-block;
      line-height: 1.7em; }
    .contact .contact__item .contact__item--action {
      font-size: 1em; }

.btn {
  text-align: center;
  padding: 12px;
  color: #1c3f85;
  border: 1px solid #1c3f85; }

.btn--white {
  color: #fff;
  border: 1px solid #fff; }
